@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cl-avatarBox {
  @apply size-[1.9rem] md:size-[2.1rem];
}

@layer components {
  /* Typography */
  .text-heading {
    @apply text-heading2-bold text-dark-1;
  }

  /* Sections */
  .main-content {
    @apply flex flex-col flex-1 min-h-screen items-center px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }

  .header {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-light-1 px-6 py-7 shadow-sm;
  }

  .sidebar-left {
    @apply sticky left-0 top-0 flex h-screen flex-col overflow-auto pb-5 pt-28 max-md:hidden px-7 gap-10;
  }

  .sidebar-right {
    @apply sticky right-0 top-0 flex h-screen flex-col gap-10 overflow-auto px-10 pb-6 pt-28 max-xl:hidden;
  }

  .mobile-nav {
    @apply sticky bottom-0 w-full pb-2 px-2 md:hidden;
  }

  /* Components */
  .text-input {
    @apply bg-light-2 rounded-full py-2 px-5 focus:outline-none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
